.col-md-8{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.card{
    margin-bottom: 25px;
}

/*
max-height: 500px;
    object-fit: cover;
    object-position: 0 -157px; */
